# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ / IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/
bin/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Remove archetype generator leftovers
src/main/resources/archetype-resources/
src/main/resources/META-INF/