version: '3.9'

services:
  frontend:
    build:
      context: .
      args:
        API_URL: https://api-watchdog.up.railway.app
    ports:
      - "8080:80"
    environment:
      API_URL: https://api-watchdog.up.railway.app