services:
  frontend:
    build: .
    # Tell compose specifically which file to read for this service
    env_file:
      - .env.production 
    ports:
      - "8080:80"
    environment:
      - API_URL=${API_URL}