body {
  font-family: Arial;
  background: #f4f6f8;
}

.container {
  width: 800px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  width: 70%;
}

button {
  padding: 8px 14px;
  margin-left: 10px;
  cursor: pointer;
}

table {
  width: 100%;
}

.up {
  color: green;
  font-weight: bold;
}

.down {
  color: red;
  font-weight: bold;
}
